@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&display=swap');

/* body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body {
  background-color: rgb(23, 23, 23);
  padding: 0;
  margin: 0;
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 7%;
  padding-left: 7%;
  height: 15vh;
  color: white;
  background-color: #36096d;
  background-image: linear-gradient(300deg, #052d5c 0%, #085252 74%);
  margin-bottom: 50px;
}

.box {
  position: relative;
  right: -0.5%;
  width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about,
.task {
  border: 2px solid black;
  color: white;
  border-radius: 2em;
  width: 60%;
  background-color: #537895;
  background-image: linear-gradient(280deg, #005d3e 0%, #09203f 74%);
  padding: 0.5% 0.5% 1% 0.5%;
  margin: 0.25% 0 0.25% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s ease;
  z-index: 0;
}

.task:hover {
  background-color: #485461;
  background-image: linear-gradient(315deg, #000000 0%, #1a1d00 74%);
  transform: translateY(-15%);
  border: 3px solid black;
  font-size: 17px;
  z-index: 10;
}

.hx {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.hx > * {
  margin-right: 40%;
  margin-left: 40%;
}

.taskList,
#Nt {
  color: white;
  font-size: 20px;
}

.sts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: White;
  text-transform: capitalize;
  margin-bottom: 2%;
}

.tf,
.inputBox {
  color: White;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.tf {
  position: relative;
  width: 50vw;
  right: -20%;
  border-top: 1px solid white;
  border-bottom: 5px solid white;
  border-radius: 10% 20%;
  padding: 1%;
  margin: 5%;
}
.up {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5%;
  justify-content: space-between;
}

.up > * {
  margin-right: 5vw;
  margin-left: 5vw;
}

.down {
  width: 20vw;
  margin: 10px;
}

.btxx.complete {
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 5%;
  font-size: 25px;
  margin: 2%;
  padding: 1.5% 10% 1.5% 10%;
  cursor: pointer;
}

.tt,
.down {
  padding: 1%;
  cursor: text;
}

.range {
  cursor: pointer;
}

.btxx.incomplete {
  color: rgb(69, 69, 69);
  background-color: grey;
  border: none;
  border-radius: 0%;
  font-size: 25px;
  margin: 2%;
  padding: 1.5% 10% 1.5% 10%;
  pointer-events: none;
}

.msg {
  color: rgb(218, 0, 0);
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
}
.about {
  position: absolute;
  right: 20vw;
  top: 20vh;
  border: 10px solid black;
  border-radius: 10px;
}
.theLink {
  color: white;
  text-decoration: none;
  font-family: 'Changa', sans-serif;
  font-size: 2em;
}

.aboutLink {
  position: fixed;
  top: 90vh;
  right: 3vw;
  color: white;
}
